[Desktop Entry]
Type=Application
Name=Firefox
GenericName=Web Browser
Exec=/usr/bin/firefox %u
Terminal=false
MimeType=x-scheme-handler/http;x-scheme-handler/https
